@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 5rem;
  background-color: #c3dbd3;
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  max-width: 30rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  background: #fff5f9;
}

button {
  font: inherit;
  font-size: 0.85rem;
  font-weight: 600;
  background: #ffd76c;
  border: 1px solid #ffd76c;
  cursor: pointer;
  color: #000;
  padding: 0.5rem 1.5rem;
  border-radius: 4rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #f3c23b;
  border-color: #f3c23b;
}

#app {
  background: #edf6f5;
  padding: 1rem;
  display: flex;
  border-radius: 1rem;
  gap: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  height: 100dvh;
}

#app-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  height: 100dvh;
}

aside nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  background-color: #fff;
  border-radius: 4rem;
  padding: 0.5rem;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
}

aside ul li {
  margin: 0.5rem 0;
}

aside ul li a {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #999;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside ul li a:hover {
  background: #fff5f9;
}

aside ul li a.active {
  background: #ffd76c;
  color: #000;
  border-radius: 50%;
}

.projects {
  background: #fad8f3;
  border-radius: 1.5rem;
  width: 100%;
  padding-top: 0.5rem;
}

.projects header {
  height: 3.5rem;
  display: flex;
  justify-content: flex-start;
  padding-inline-start: 1.5rem;
  align-items: center;
}

.projects header h2::before {
  content: "";
  display: inline-flex;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background: #fc73e0;
}

#in-progress-projects {
  background: #f8e3ca;
}

#in-progress-projects h2::before {
  background: #f28166;
}

#review-projects {
  background: #c2e7ff;
}

#review-projects h2::before {
  background: #0d7775;
}

#completed-projects {
  background: #d0cbfa;
}

#completed-projects h2::before {
  background: #7f64e1;
}

.projects h2 {
  margin: 0;
  font-size: 1rem;
  color: black;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.projects ul {
  list-style: none;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 0;
  background-color: #FFF;
  border-radius: 1rem;
}

.projects li h2 {
  color: #000;
  margin: 0 0 0.5rem 0;
}

.projects li h5 {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  background-color: #747474;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.projects li h5.low {
  background-color: #e4ffff;
  color: #2b7373;
}

.projects li h5.medium {
  background-color: #fffdef;
  color: #7d7e5c;
}

.projects li h5.high {
  background-color: #f9f0e9;
  color: #622721;
}

.projects li h6 {
  font-size: 0.75rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #999;
  background: #f8f8f8;
  padding: 0.5rem;
  border-radius: 1.25rem;
  gap: 0.5rem;
  margin: 0.5rem 0 0 0;
}

.projects li h6 svg {
  color: #999;
  height: 1rem;
}

.projects li p {
  margin: 0 0 0.5rem 0;
  color: #575757;
  font-size: 0.75rem;
  line-height: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.droppable {
  background: transparent;
  border: 2px dashed #999;
  border-radius: 1rem;
}

#user-input {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: #edf6f5;
}